<input #fileUpload type="file" [accept]="'.json'" class="file-input" (change)="uploadFile($event)" style="margin-bottom:15px">

<p *ngIf="errorMessage">{{errorMessage}}</p>

<ag-grid-angular #InvoiceGrid style="width: auto; height: 75%; font-size: 20px;"
                  class="ag-theme-alpine"
                  [columnDefs]="columnDefs"
                  [defaultColDef]="defaultColDef"
                  [rowData]="rowData$ | async"
                  [rowSelection]="'multiple'"
                  [animateRows]="true"
                  (gridReady)="onGridReady($any($event))"
                  (rowClicked)="onRowClicked($any($event))">
</ag-grid-angular>

